{% extends "base.html" %}

<!-- Main content -->
{% block main_conten %}
<div class="container">
    <div class="box-body">
    <table class="table table-bordered table-hover">
    <caption>职位列表</caption>
    <thead>
        <tr>
            <th>职位名称</th>
            <th>公司名</th>
            <th>工作地点</th>
            <th>薪资</th>
            <th>发布时间</th> 
        </tr>
    </thead>
    <tbody>
        {% for job_infromation in job_infromations %}
            <tr>
                <td><a href="{% url 'huntjob:job_information_detail' job_infromation.id %}">{{ job_infromation.name }}</a></td>
                <td><a href="{% url 'huntjob:company_information_detail' job_infromation.company_information.id %}">{{ job_infromation.company_information.name }}</a></td>
                <td>{{ job_infromation.work_place }}</td>
                <td>{{ job_infromation.monthly_salary_range.name }}</td>
                <td>{{ job_infromation.update_time | date:"m-d H:i" }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>
<div class="container">
    {% include "paginator.html" %}
</div>
{% endblock %}
<!-- /.content -->
