{% extends "base.html" %}

{% block content %}
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h2 id='hypervisors'>&#8195;</h2>
        <p>Total Hypervisors</p>
      </div>
      <div class="icon">
        <i class="ion ion-social-windows"></i>
      </div>
      <a href="#" class="small-box-footer"></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h2 id='virtualhosts'>&#8195;</h2>

        <p>Total Virtualhosts</p>
      </div>
      <div class="icon">
        <i class="ion ion-laptop"></i>
      </div>
      <a href="#" class="small-box-footer"></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h2 id='freedisk'>&#8195;</h2>

        <p>Free Disk</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer"></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h2 id='freeram'>&#8195;</h2>

        <p>Free RAM</p>
      </div>
      <div class="icon">
        <i class="ion ion-help-buoy"></i>
      </div>
      <a href="#" class="small-box-footer"></a>
    </div>
  </div>
  <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="box">
<div class="box-body">
<div class="row">
<div class="col-sm-12">
    <ul id="novaTab" class="nav nav-tabs">
        <li class="active">
            <a href="#novastatus" data-toggle="tab">计算节点</a>
        </li>
        <li><a href="#hypervisorstatus" data-toggle="tab">hypervisor状态</a></li>
    </ul>
    <div id="osContent" class="tab-content">
        <div class="tab-pane fade in active" id="novastatus">
          <table id="services_table" class="table table-bordered table-hover" role="grid">
            <thead>
              <tr role="row">
                <th class="text-center">ID</th>
                <th class="text-center">启用状态</th>
                <th class="text-center">组件名称</th>
                <th class="text-center">host</th>
                <th class="text-center">zone</th>
                <th class="text-center">运行状态</th>
                <th class="text-center">更新时间</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd">
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
         <div class="tab-pane fade" id="hypervisorstatus">
          <table id="hypervisor_table" class="table table-bordered table-hover" role="grid">
            <thead>
              <tr role="row">
                <th class="text-center">当前负载</th>
                <th class="text-center">启用状态</th>
                <th class="text-center">分配磁盘</th>
                <th class="text-center">分配内存</th>
                <th class="text-center">ip</th>
                <th class="text-center">类型</th>
                <th class="text-center">虚拟机数量</th>
                <th class="text-center">vcpus</th>
                <th class="text-center">vcpus分配</th>
                <th class="text-center">运行状态</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd">
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
         </div>
        </div>
    </div>
</div>
</div>
<!-- /.row (main row) -->

{% endblock %}
{% block footer_script %}
<script>
    function server_list_table(servers_data){
        var tableheader='<table class="table table-bordered table-hover"><caption style="margin-left:4%;"><strong>Total:'+servers_data.length+'</strong></caption><thead><tr role="row"><th class="text-center">实例名称</th><th class="text-center">uuid</th></tr></thead><tbody>'
        for(j = 0,len=servers_data.length; j < len; j++) {
            var inslink='/instances/'+servers_data[j].uuid+'/detail/';
            var htmltr='<tr role="row"><td class="text-center"><a href="'+inslink+'">'+servers_data[j].name+'</a></td><td class="text-center">'+servers_data[j].uuid+'</td></tr>';
            tableheader= tableheader + htmltr;
        }
        tableheader= tableheader + "</tbody></table>"
        return tableheader
    }
    function handle_api(obj){
        if( $(obj).prop("disabled")){
        console.log("disabled");
        }else{
            $(obj).attr('disabled',"true");
            var id=$(obj).data("id");
            var hypervisorname=$(obj).data("hypervisorname");
            var method=$(obj).data("method");
            console.log($(obj).data("id"));    
            console.log($(obj).data("hypervisorname"));    
            console.log($(obj).data("method"));
            if (method == "details"){
            $.ajax({
                url:"{% url 'hypervisors_servers_info_api' %}"+"?hypervisors_name="+hypervisorname,
                type:'GET',
                async:true,    //或false,是否异步
                timeout:5000,    //超时时间
                dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                beforeSend: function (xhr) {
                        layer.load(1,{offset:'auto',shadeClose:'true'});    // 数据加载成功之前，使用loading组件
                    },
                statusCode: {
                        302: function() {
                         window.location.href="{% url 'accounts:logout' %}";
                         }
                },
                success:function(data,textStatus,jqXHR){
                    if (data["error"]!=0){
                        layer.msg(data.msg);
                        layer.closeAll('loading');
                        $(obj).removeAttr("disabled"); 
                    }else{
                    console.log(data);
                    htmldata=server_list_table(data.hypervisors_servers);
                        layer.closeAll('loading');
                        layer.open({
                              type: 1,
                              skin:"layui-layer-lan",
                              area: '500px',
                              title: "实例列表",
                              content: htmldata 
                        });
                        $(obj).removeAttr("disabled"); 
                  }
                },
                error:function(xhr,textStatus,errorThrown){
                    layer.closeAll('loading');
                    $(obj).removeAttr("disabled"); 
                    console.log("error");
                    if ( textStatus == "timeout"){
                    layer.msg("请求超时，请重试...");
                    }else{
                      // window.location.href="{% url 'accounts:logout' %}";
                    }
                }
            })
            }else{
            console.log("接口未实现");
            }
        }
    }

    function draw_table(table_data,status){
        var status = arguments[1] ? arguments[1] : 0;
        console.log(status);
        var ajax_status={1:"请求超时，请刷新重试....",0:"成功..."};
        var status_dict={'enabled':'<i class="fa fa-check-circle" style="color: #00a65a;" aria-hidden="true"></i>','disabled':'<i class="fa fa-times-circle" style="color: #ff0000;" aria-hidden="true"></i>'}
        var state_dict={'up':'<i class="fa fa-circle" style="color: #00a65a;" aria-hidden="true"></i>','down':'<i class="fa fa-circle" style="color: #ff0000;" aria-hidden="true"></i>'}
        if (status != 1){
    for(j = 0,len=table_data.length; j < len; j++) {
        var htmlbtn='<div class="dropdown"><button type="button" class="btn dropdown-toggle btn-xs" id="dropdownMenu1" data-toggle="dropdown">控制<span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1"><li role="presentation"><a role="menuitem" tabindex="-1" href="#">禁用</a></li><li role="presentation"><a role="menuitem" tabindex="-1" href="#">启用</a></li><li role="presentation" class="divider"></li><li role="presentation"><a role="menuitem" tabindex="-1" href="#">删除节点</a></li></ul></div>'
            var htmltext='<tr role="row" class="odd"><td class="text-center">'+table_data[j].id+'</td><td class="text-center">'+status_dict[table_data[j].status]+'</td><td class="text-center">'+table_data[j].binary+'</td><td class="text-center">'+table_data[j].host+'</td><td class="text-center">'+table_data[j].zone+'</td><td class="text-center">'+state_dict[table_data[j].state]+'</td><td class="text-center">'+table_data[j].updated_at+'</td><td class="text-center">'+htmlbtn+'</td></tr>'
       $("#services_table").append(htmltext);
     
    }
    }else{
        $("#services_table").append('<tr role="row" class="odd"><td colspan="10" class="text-center">'+ajax_status[status]+'</td></tr>');
    }
    
    }
    function draw_hyp_table(table_data,status){
        var status = arguments[1] ? arguments[1] : 0;
        console.log(status);
        var ajax_status={1:"请求超时，请刷新重试....",0:"成功..."};
        var status_dict={'enabled':'<i class="fa fa-check-circle" style="color: #00a65a;" aria-hidden="true"></i>','disabled':'<i class="fa fa-times-circle" style="color: #ff0000;" aria-hidden="true"></i>'}
        var state_dict={'up':'<i class="fa fa-circle" style="color: #00a65a;" aria-hidden="true"></i>','down':'<i class="fa fa-circle" style="color: #ff0000;" aria-hidden="true"></i>'}
        if ( status != 1){
            for(j = 0,len=table_data.length; j < len; j++) {
                var btnhtml='<div class="btn-group"><button type="button" onclick="handle_api(this)"   data-method="details" data-hypervisorname='+table_data[j].hypervisor_hostname+' data-id="'+table_data[j].id+'" class="btn btn-default btn-xs" >详情</button><button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span><span class="sr-only"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a class="btn"  onclick="handle_api(this)" data-method="uptime" data-id="'+table_data[j].id+'" href="#">uptime</a></li></ul></div>'
                var htmltext='<tr role="row" class="odd"><td class="text-center">'+table_data[j].current_workload+'</td><td class="text-center">'+status_dict[table_data[j].status]+'</td><td class="text-center">'+table_data[j].local_gb_used+'/'+table_data[j].local_gb+'</td><td class="text-center">'+table_data[j].memory_mb_used+'/'+table_data[j].memory_mb+'</td><td class="text-center">'+table_data[j].host_ip+'</td><td class="text-center">'+table_data[j].hypervisor_type+'</td><td class="text-center">'+table_data[j].running_vms+'</td><td class="text-center">'+table_data[j].vcpus+'</td><td class="text-center">'+table_data[j].vcpus_used+'/'+table_data[j].vcpus*table_data[j].cpu_allocation_ratio+'</td>><td class="text-center">'+state_dict[table_data[j].state]+'</td><td class="text-center" style="width: 90px;";>'+btnhtml+'</td></tr>'
                $("#hypervisor_table").append(htmltext);
             
            }
        } else {
            $("#hypervisor_table").append('<tr role="row" class="odd"><td colspan="12" class="text-center">'+ajax_status[status]+'</td></tr>');
        }
    
    }
    function ajax_table(url,timeout,table_func,list_name){
    
        $.ajax({
            url:url,
            type:'GET',
            async:true,    //或false,是否异步
            timeout:timeout,    //超时时间
            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            beforeSend: function (xhr) {
                        layer.load(1,{offset:'auto',shadeClose:'true'});    // 数据加载成功之前，使用loading组件
                    },
            success:function(data,textStatus,jqXHR){
                console.log(data);
                layer.closeAll('loading');
                if (data["error"]==1){
                  // window.location.href="{% url 'accounts:logout' %}"
                }else{
                table_func(data[list_name]);
              }
            },
            error:function(xhr,textStatus){
                console.log('错误')
                console.log(xhr)
                console.log(textStatus)
            },
            complete: function (XMLHttpRequest,status) {
                if(status == 'timeout') {
                  table_func("",1);
                }
            }
        })
    
    }
$(function(){
    $("#vm_home").addClass('active');
    $.getJSON("{% url 'hypervisors_statistics' %}",function(data){
        var result = data.hypervisors_statistics;
        $('#virtualhosts').text(result.running_vms);
        $('#hypervisors').text(result.count);
        $('#freeram').text(parseInt(result.free_ram_mb /1024) +'GB');
        $('#freedisk').text(parseInt(result.free_disk_gb/1024)+'TB');
        });
    $('#novaTab li:eq(0) a').tab('show');
    ajax_table("{% url 'services_info_api' %}",20000,draw_table,"service_list");
    ajax_table("{% url 'hypervisors_info_api' %}",20000,draw_hyp_table,"hypervisors_list");
})
</script>
{% endblock %}
