{% load static %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{% static 'AdminLTE/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ user.username }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input disabled type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button disabled type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li id="vm_home"><a href="/"><i class="fa fa-dashboard"></i> <span>首页</span></a></li>
      <li id="vm_menu" class="treeview">
          <a id="root_menu" href="#">
            <i class="fa fa-server"></i> <span>虚拟机</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="treeview" id="vm">
              <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 云主机管理
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="treeview" id="private">
                  <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 私有云管理
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li id="private_menu_instance_limits"><a href="{% url 'instances:instance_limits' %}"><i class="fa fa-circle-o"></i> 概况</a></li>
                    <li id="private_menu_instance_list"><a href="{% url 'instances:instance_list' %}"><i class="fa fa-circle-o"></i> 实例列表</a></li>
                    <li id="private_menu_volumes" class="treeview">
                      <a href="#" id="root_menu">
                        <i class="fa fa-circle-o"></i>
                        <span>磁盘管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li id="private_menu_volume_list"><a href="{% url 'volumes:volume_list' %}"><i class="fa fa-circle-o"></i> 磁盘列表</a></li>
                        <li id="private_menu_volume_snapshot_list"><a href="{% url 'volumes:snapshot_list' %}"><i class="fa fa-circle-o"></i> 快照列表</a></li>
                        {# <li id="private_menu_volume_list"><a href="{% url 'volumes:volume_type_list' %}"><i class="fa fa-circle-o"></i> 组列表</a></li> #}
                        <li id="private_menu_volume_type_list"><a href="{% url 'volumes:volume_type_list' %}"><i class="fa fa-circle-o"></i> 磁盘类型</a></li>
                      </ul>
                    </li>
                    <li id="private_menu_image_list"><a href="{% url 'instances:image_list' %}"><i class="fa fa-circle-o"></i> 镜像列表</a></li>
                    <li id="private_menu_tag_list"><a href="{% url 'instances:tag_list' %}"><i class="fa fa-circle-o"></i> 标签列表</a></li>
                    <li id="private_menu_keypairs_list"><a href="{% url 'keypairs:keypairs_list' %}"><i class="fa fa-circle-o"></i> 密钥列表</a></li>
                    <li id="private_menu_networks" class="treeview">
                      <a href="#" id="root_menu">
                        <i class="fa fa-circle-o"></i>
                        <span>网络管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li id="private_menu_network_list"><a href="{% url 'networks:network_list' %}"><i class="fa fa-circle-o"></i> 网络列表</a></li>
                        <li id="private_menu_network_security_groups_list"><a href="{% url 'networks:security_group_list' %}"><i class="fa fa-circle-o"></i> 安全组</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <!--<li class="treeview" id="public">-->
                  <!--<a href="#"><i class="fa fa-circle-o"></i> 公有云管理-->
                    <!--<span class="pull-right-container">-->
                      <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</span>-->
                  <!--</a>-->
                  <!--<ul class="treeview-menu">-->
                    <!--<li id="public_menu_instance_limits"><a href="{% url 'instances:instance_limits' %}"><i class="fa fa-circle-o"></i> 概况</a></li>-->
                    <!--<li id="public_menu_instance_list"><a href="{% url 'instances:instance_list' %}"><i class="fa fa-circle-o"></i> 实例列表</a></li>-->
                    <!--<li id="public_menu_image_list"><a href="{% url 'instances:image_list' %}"><i class="fa fa-circle-o"></i> 镜像列表</a></li>-->
                    <!--<li id="public_menu_tag_list"><a href="{% url 'instances:tag_list' %}"><i class="fa fa-circle-o"></i> 标签列表</a></li>-->
                    <!--<li id="public_menu_keypairs_list"><a href="{% url 'keypairs:keypairs_list' %}"><i class="fa fa-circle-o"></i>密钥列表</a></li>-->
                    <!--<li id="public_menu_networks" class="treeview">-->
                      <!--<a href="#">-->
                        <!--<i class="fa fa-connectdevelop"></i>-->
                        <!--<span>网络管理</span>-->
                        <!--<span class="pull-right-container">-->
                          <!--<i class="fa fa-angle-left pull-right"></i>-->
                        <!--</span>-->
                      <!--</a>-->
                      <!--<ul class="treeview-menu">-->
                        <!--<li id="menu_network_list"><a href="{% url 'networks:network_list' %}"><i class="fa fa-circle-o"></i> 网络列表</a></li>-->
                        <!--<li id="menu_network_security_groups_list"><a href="{% url 'networks:security_group_list' %}"><i class="fa fa-circle-o"></i> 安全组</a></li>-->
                      <!--</ul>-->
                    <!--</li>-->
                  <!--</ul>-->
                <!--</li>-->
              </ul>
            </li>

        </ul>
      </li>
      <li id="lxc_menu" class="treeview">
          <a id="root_menu" href="#">
            <i class="fa fa-object-group"></i> <span>容器</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>

          <ul class="treeview-menu">
            <li id="menu_k8s_project"><a href="{% url 'paas:project_list'%}">
              <i class="fa fa-handshake-o"></i>项目管理</a>
            </li>
            <li class="treeview" id="k8s_manager_menu">
              <a href="#" id="root_menu"><i class="fa fa-snowflake-o"></i> k8s平台管理
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li id="menu_paas_survey"><a href="{% url 'paas:k8s_survey' %}"><i class="fa fa-circle-o"></i> 概况</a></li>

                  <li class="treeview" id="k8s_res_manager_menu">
                    <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 工作负荷
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li id="menu_paas_podlist"><a href="{% url 'paas:k8s_pod' %}"><i class="fa fa-circle-o"></i> Pods</a></li>
                      <li id="menu_paas_daemonsets"><a href="{% url 'paas:k8s_daemonset' %}"><i class="fa fa-circle-o"></i> DaemonSets</a></li>
                      <li id="menu_paas_deploylist"><a href="{% url 'paas:k8s_deploy' %}"><i class="fa fa-circle-o"></i> Deployments</a></li>
                      <li id="menu_paas_replicalist"><a href="{% url 'paas:k8s_replica' %}"><i class="fa fa-circle-o"></i> ReplicaSets</a></li>
                      <li id="menu_paas_joblist"><a href="{% url 'paas:k8s_job' %}"><i class="fa fa-circle-o"></i> Jobs</a></li>
                      <li id="menu_paas_replicationlist"><a href="{% url 'paas:k8s_replication' %}"><i class="fa fa-circle-o"></i> ReplicationControllers</a></li>
                      <li id="menu_paas_cronjoblist"><a href="{% url 'paas:k8s_cronjob' %}"><i class="fa fa-circle-o"></i> CronJobs</a></li>
                      <li id="menu_paas_statefullist"><a href="{% url 'paas:k8s_stateful' %}"><i class="fa fa-circle-o"></i> StatefulSets</a></li>

                    </ul>
                  </li>

                  <li class="treeview" id="k8s_service_manager_menu">
                    <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 服务发现 
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li id="menu_paas_servicelist"><a href="{% url 'paas:k8s_service' %}"><i class="fa fa-circle-o"></i> service列表</a></li>
                      <li id="menu_paas_ingresslist"><a href="{% url 'paas:k8s_ingress' %}"><i class="fa fa-circle-o"></i> lngress列表</a></li>
                      <li id="menu_paas_endpointslist"><a href="{% url 'paas:k8s_endpoint' %}"><i class="fa fa-circle-o"></i> endpoints列表</a></li>
                    </ul>
                  </li>
                  <li class="treeview" id="k8s_csr_manager_menu">
                    <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 证书签名管理 
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li id="menu_paas_csrlist"><a href="{% url 'paas:k8s_csr' %}"><i class="fa fa-circle-o"></i> 证书签名列表</a></li>
                    </ul>
                  </li>
                  <li class="treeview" id="k8s_storage_manager_menu">
                    <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 存储管理 
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li id="menu_paas_pvclist"><a href="{% url 'paas:k8s_persistentvolumeclaim' %}"><i class="fa fa-circle-o"></i> PVC列表</a></li>
                    </ul>
                  </li>
                  <li class="treeview" id="k8s_config_manager_menu">
                    <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> Config管理 
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li id="menu_paas_secretlist"><a href="{% url 'paas:k8s_secret' %}"><i class="fa fa-circle-o"></i> Secret列表</a></li>
                      <li id="menu_paas_configmaplist"><a href="{% url 'paas:k8s_configmap' %}"><i class="fa fa-circle-o"></i> ConfigMap列表</a></li>
                    </ul>
                  </li>
                  <li class="treeview" id="k8s_role_manager_menu">
                    <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 角色管理 
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li id="menu_paas_role"><a href="{% url 'paas:k8s_role' %}"><i class="fa fa-circle-o"></i> Role</a></li>
                      <li id="menu_paas_rolebinding"><a href="{% url 'paas:k8s_rolebinding' %}"><i class="fa fa-circle-o"></i> RoleBinding</a></li>
                      <li id="menu_paas_clusterrole"><a href="{% url 'paas:k8s_clusterrole' %}"><i class="fa fa-circle-o"></i> ClusterRole</a></li>
                      <li id="menu_paas_clusterrolebinding"><a href="{% url 'paas:k8s_clusterrolebinding' %}"><i class="fa fa-circle-o"></i> ClusterRoleBinding</a></li>
                    </ul>
                  </li>
                  <li class="treeview" id="k8s_serviceaccount_manager_menu">
                    <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 账户管理 
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li id="menu_paas_serviceaccount"><a href="{% url 'paas:k8s_serviceaccount' %}"><i class="fa fa-circle-o"></i> ServiceAccount列表</a></li>
                    </ul>
                  </li>
              </ul>
            </li>
            <li class="treeview" id="k8s_images_manager_menu">
              <a href="#" id="root_menu"><i class="fa fa-bandcamp"></i> 镜像仓库管理
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li id="menu_images_survey"><a href="{% url 'paas:harbor_survey' %}"><i class="fa fa-circle-o"></i> 概况</a></li>
                  <li class="treeview" id="k8s_totallog_manager_menu">
                    <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 日志管理 
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li id="menu_paas_platformlog"><a href="{% url 'paas:harbor_platformlogpage' %}"><i class="fa fa-circle-o"></i> 平台日志</a></li>
                      <li id="menu_paas_projectlog"><a href="{% url 'paas:harbor_projectlogpage' %}"><i class="fa fa-circle-o"></i> 项目日志</a></li>
                    </ul>
                  </li>
                  <li class="treeview" id="k8s_imageproject_manager_menu">
                    <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 项目镜像管理 
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li id="menu_paas_projectlist"><a href="{% url 'paas:harbor_projectspage' %}"><i class="fa fa-circle-o"></i> 项目列表</a></li>
                      <li id="menu_paas_imagelist"><a href="{% url 'paas:harbor_imagespage' %}"><i class="fa fa-circle-o"></i> 仓库列表</a></li>
                    </ul>
                  </li>
                  <li class="treeview" id="k8s_imageaccount_manager_menu">
                    <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 系统管理 
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li id="menu_paas_harborusers"><a href="{% url 'paas:harbor_userpage' %}"><i class="fa fa-circle-o"></i> 用户管理</a></li>
                      <li id="menu_paas_imagecopy"><a href="{% url 'paas:k8s_serviceaccount' %}"><i class="fa fa-circle-o"></i> 复制管理</a></li>
                      <li id="menu_paas_imageconfig"><a href="{% url 'paas:k8s_serviceaccount' %}"><i class="fa fa-circle-o"></i> 配置管理</a></li>
                    </ul>
                  </li>
              </ul>
            </li>
          </ul>
        </li>
      <li id="db_menu" class="treeview">
          <a href="#" id="root_menu">
            <i class="fa fa-database"></i> <span>数据库</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="treeview" id="db_manager_menu">
              <a href="#" id="root_menu"><i class="fa fa-balance-scale"></i> 关系型数据库
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li id="menu_db_daas_overview"><a href="{% url 'daas:daas_limits' %}"><i class="fa fa-circle-o text-red"></i> 概况</a></li>
                  <li id="menu_db_host_list"><a href="{% url 'daas:host_list' %}"><i class="fa fa-circle-o text-warning"></i> 主机列表</a></li>
                  <li id="menu_db_instance_list"><a href="{% url 'daas:instance_list' %}"><i class="fa fa-circle-o text-danger"></i> 实例列表</a></li>
                  <li id="menu_db_cluster_list"><a href="{% url 'daas:cluster_list' %}"><i class="fa fa-circle-o text-purple"></i> 集群列表</a></li>
                  <li id="menu_db_instance_backup_info_list"><a href="{% url 'daas:instance_backup_info_list' %}"><i class="fa fa-circle-o text-success"></i> 备份日志</a></li>
                  <li id="menu_db_binlog_process_info_list"><a href="{% url 'daas:binlog_process_info_list' %}"><i class="fa fa-circle-o text-bold"></i> binlog进程日志</a></li>
              </ul>
            </li>
            <li class="treeview" id="menu_slow_query">
              <a href="#" id="slow_query_menu"><i class="fa fa-hourglass-2"></i> 慢查询
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li id="menu_slow_query_overview"><a href="{% url 'daas:slow_query_overview' %}"><i class="fa fa-circle-o text-red"></i> 概况</a></li>
                  <li id="menu_slow_query_group_list"><a href="{% url 'daas:slow_query_group_list' %}"><i class="fa fa-circle-o text-warning"></i> 组列表</a></li>
                  <li id="menu_slow_query_user_list"><a href="{% url 'daas:slow_query_user_list' %}"><i class="fa fa-circle-o text-danger"></i> 人员列表</a></li>
                  <li id="menu_slow_query_instance_list"><a href="{% url 'daas:slow_query_instance_list' %}"><i class="fa fa-circle-o text-purple"></i> 主机列表</a></li>
                  <li id="menu_slow_query_email_list"><a href="{% url 'daas:slow_query_email_list' %}"><i class="fa fa-circle-o text-success"></i> 邮件发送记录</a></li>
              </ul>
            </li>
            <li class="treeview" id="publishing_platform">
              <a href="#" id="#"><i class="fa fa-camera"></i> 发布平台
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li id="menu_publishing_platform_overview"><a href="{% url 'daas:publishing_platform_overview' %}"><i class="fa fa-home"></i> 概况 </a></li>
                <li id="publishing_platform_my_order_list"><a href="{% url 'daas:publishing_platform_my_order_list' %}"><i class="fa fa-user"></i> 我的工单 </a></li>
                <li id="publishing_platform_record_create"><a href="{% url 'daas:publishing_platform_record_create' %}"><i class="fa fa-user"></i> 工单提交 </a></li>
                <li id="publishing_platform_verify_order"><a href="{% url 'daas:publishing_platform_verify_order_list' %}"><i class="fa fa-external-link-square"></i> 审核工单</a></li>
                 <li id="publishing_platform_record_list"><a href="{% url 'daas:publishing_platform_record_list' %}"><i class="fa fa-pie-chart"></i> 工单记录 </a></li>
                <li id="publishing_platform_sql_result_list"><a href="{% url 'daas:publishing_platform_sql_result_list' %}"><i class="fa fa-pie-chart"></i> 执行结果 </a></li>
                <li class="treeview" id="publishing_platform_manager">
                    <a href="#" id="#"><i class="fa fa-suitcase"></i> 管理
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                      <li id="publishing_platform_user"><a href="{% url 'daas:publishing_platform_user_list' %}"><i class="fa fa-circle-o text-success"></i> 用户 </a></li>
                      <li id="publishing_platform_group"><a href="{% url 'daas:publishing_platform_group_list' %}"><i class="fa fa-circle-o text-blue"></i> 组 </a></li>
                        <li id="publishing_platform_server_address"><a href="{% url 'daas:publishing_platform_server_address_list' %}"><i class="fa fa-circle-o text-warning"></i> 机房 </a></li>
                        <li id="publishing_platform_manager_instance"><a href="{% url 'daas:publishing_platform_instance_list' %}"><i class="fa fa-circle-o text-red"></i> 数据库 </a></li>
                    </ul>
                </li>
              </ul>
            </li>
            <li class="treeview hidden" id="menu_non_db_manager">
              <a href="#"id="root_menu"><i class="fa fa-circle-o"></i> 非关系型数据库
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li id="menu_non_db_overview"><a href="{% url 'daas:non_db_overview' %}"><i class="fa fa-circle-o"></i> 概况</a></li>
                  <li id="menu_non_db_host_list"><a href="#"><i class="fa fa-circle-o"></i> 主机列表</a></li>
                  <li id="menu_non_db_instance_list"><a href="#"><i class="fa fa-circle-o"></i> 实例列表</a></li>
                  <li id="menu_non_db_cluster_list"><a href="#"><i class="fa fa-circle-o"></i> 集群列表</a></li>
                  <li id="menu_non_db_instance_backup_info_list"><a href="#"><i class="fa fa-circle-o"></i> 备份日志</a></li>
              </ul>
            </li>
          </ul>
        </li>
      <!--<li id="pc_menu" class="treeview">-->
          <!--<a href="#">-->
            <!--<i class="fa fa-tv"></i> <span>实体机</span>-->
            <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
          <!--</a>-->
          <!--<ul class="treeview-menu">-->
            <!--<li class="treeview">-->
              <!--<a href="#"><i class="fa fa-circle-o"></i> 云主机管理-->
                <!--<span class="pull-right-container">-->
                  <!--<i class="fa fa-angle-left pull-right"></i>-->
                <!--</span>-->
              <!--</a>-->
              <!--<ul class="treeview-menu">-->
                  <!--<li id="menu_instance_my3"><a href="#"><i class="fa fa-circle-o"></i> 概况</a></li>-->
                  <!--<li id="menu_instance_list3"><a href="#"><i class="fa fa-circle-o"></i> 实例列表</a></li>-->
                  <!--<li id="menu_image_list3"><a href="#"><i class="fa fa-circle-o"></i> 镜像列表</a></li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--<li id="network_menu" class="treeview">-->
          <!--<a href="#">-->
            <!--<i class="fa fa-wifi"></i> <span>网络相关</span>-->
            <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
          <!--</a>-->
          <!--<ul class="treeview-menu">-->
            <!--<li class="treeview">-->
              <!--<a href="#"><i class="fa fa-circle-o"></i> 云主机管理-->
                <!--<span class="pull-right-container">-->
                  <!--<i class="fa fa-angle-left pull-right"></i>-->
                <!--</span>-->
              <!--</a>-->
              <!--<ul class="treeview-menu">-->
                  <!--<li id="menu_instance_my4"><a href="#"><i class="fa fa-circle-o"></i> 概况</a></li>-->
                  <!--<li id="menu_instance_list4"><a href="#"><i class="fa fa-circle-o"></i> 实例列表</a></li>-->
                  <!--<li id="menu_image_list4"><a href="#"><i class="fa fa-circle-o"></i> 镜像列表</a></li>-->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->

      <li id="worksheet_menu" class="treeview">
          <a href="#" id="root_menu">
            <i class="fa fa-book"></i> <span>工单中心</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="treeview" id="worksheet_manager_menu">
              <a href="#" id="root_menu"><i class="fa fa-circle-o"></i> 工单管理
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li id="menu_worksheet_overview"><a href="{% url 'worksheet:worksheet_overview'%}"><i class="fa fa-circle-o"></i> 概况</a></li>
                  <li id="menu_worksheet_list"><a href="{% url 'worksheet:worksheet_list'%}"><i class="fa fa-circle-o"></i> 工单查看</a></li>
                  <li id="menu_worksheet_group"><a href="{% url 'worksheet:worksheet_group_list'%}"><i class="fa fa-circle-o"></i> 工单组管理</a></li>
              </ul>
            </li>
          </ul>
      </li>
      <li id="menu_accounts" class="treeview">
        <a href="#" id="root_menu">
          <i class="fa fa-users"></i> <span>用户管理</span>
          <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>
        </a>
        <ul class="treeview-menu">
          <li id="menu_project_list"><a href="{% url 'accounts:project_list' %}"><i class="fa fa-circle-o"></i> 项目列表</a></li>
          <li id="menu_user_list"><a href="{% url 'accounts:user_list' %}"><i class="fa fa-circle-o"></i> 用户列表</a></li>
          <li id="menu_group_list"><a href="{% url 'accounts:group_list' %}"><i class="fa fa-circle-o"></i> 用户组列表</a></li>
          <li id="menu_role_list"><a href="{% url 'accounts:role_list' %}"><i class="fa fa-circle-o"></i> 角色列表</a></li>
          <li id="menu_log_list"><a href="{% url 'accounts:log_list' %}"><i class="fa fa-circle-o"></i> 操作日志</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
