{% extends "base.html" %}
{% load display_name %}
{% block content %}
<div class="box">
    <div class="box-header">
      <h1 class="box-title">{{ page_title }}</h1>
      <a href="#" data-url="{% url 'publicresourcedefault:public_resource_chinese_universities_create' %}" class="btn btn-add bg-purple btn-sm pull-right">新增大学</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="well">
        <form class="form-inline">
          <div class="form-group">
            <input class="form-control" name="name" type="text" value="{{ request.GET.name }}" placeholder="请输入大学名称、主管单位、属地，类型">
          </div>
          <button id="search_btn" type="submit" class="btn btn-default">查询</button>
        </form>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table id="" class="table table-bordered table-hover" role="grid">
            <thead>
              <tr role="row">
                <th class="text-center">名称</th>
                <th class="text-center">管辖部门</th>
                <th class="text-center">所在地</th>
                <th class="text-center">办学层次</th>
                <th class="text-center">办学类型</th>
                <th class="text-center">创建日期</th>
                <th class="text-center">更新时间</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              {% for public_resource_chinese_universities_obj in public_resource_chinese_universities_objs %}
              <tr role="row" class="odd">
                <td class="text-center">{{ public_resource_chinese_universities_obj.name }}</td>
                <td class="text-center">{{ public_resource_chinese_universities_obj.competent_authority }}</td>
                <td class="text-center">{{ public_resource_chinese_universities_obj.location }}</td>
                {% if public_resource_chinese_universities_obj.level %}
                  <td class="text-center">本科</td>
                {% else %}
                  <td class="text-center">专科</td>
                {% endif %}
                <td class="text-center">{{ public_resource_chinese_universities_obj.style |display_chinese_university_style }}</td>
                <td class="text-center">{{ public_resource_chinese_universities_obj.create_time }}</td>
                <td class="text-center">{{ public_resource_chinese_universities_obj.update_time }}</td>
                <td class="text-center">
                    <div class="btn-group">
                      <a href="#"><button type="button" data-url="{% url 'publicresourcedefault:public_resource_chinese_universities_update' public_resource_chinese_universities_obj.id %}"  class="btn btn-update btn-warning btn-xs">编辑</button></a>
                      <a href="#"><button type="button" data-url="{% url 'utilsdefault:common_views_delete' public_resource_chinese_universities_obj.id %}" class="btn btn-delete btn-warning btn-xs">删除</button></a>
                      <a href="#"><button type="button" data-url="{% url 'publicresourcedefault:public_resource_chinese_universities_detail' public_resource_chinese_universities_obj.id %}"  class="btn btn-detail btn-info btn-xs">详情</button></a>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="row">
          {% include 'paginator.html' %}
      </div>
    </div>
    <!-- /.box-body -->
</div>
{% endblock %}

{% block footer_script %}
<script>
$(function(){
    $("#menu_public_resource_management").addClass('active menu-open');
    $("#menu_public_resource_management_chinese_universites_list").addClass('active');
});
//中国高校添加
$(".btn-add").on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('data-url');
      ui.box({
          title: '高校添加',
          size: 'lg',
          footer: false,
          remote: url
      });
});

//中国高校详情
$(".btn-detail").on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('data-url');
      ui.box({
          title: '中国高校详情',
          size: 'lg',
          footer: false,
          remote: url
      });
});

//中国高校更新
$(".btn-update").on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('data-url');
      ui.box({
          title: '中国高校更新',
          size: 'lg',
          footer: false,
          remote: url
      });
});

//中国高校删除
$(".btn-delete").on('click', function(e) {
  e.preventDefault();
  var url = $(this).attr('data-url');
  var token = getCookie('csrftoken');
  var dat_obj = JSON.stringify({'tablename': 'chinese_universities','types': 'delete_universities',})
  ui.confirm('确定要进行该高校删除操作吗?', function() {
      Net.post({
          url: url,
          data: {'csrfmiddlewaretoken': token, 'dat': dat_obj,},
          reload: true,
      });
      location.reload();
  });
});
</script>
{% endblock %}
