{% load display_name %}
<div class="">
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered table-hover" role="grid">
          <thead>
              <th class="text-center">项目</th>
              <th class="text-center">数据</th>
          </thead>
          <tbody>
            <!-- 高校名称 name -->
            <tr>
                <td class="text-center" style="width:200px"> 高校名称 </td>
                <td class="text-center">{{ public_resource_chinese_universities_obj.name }}</td>
            </tr>
            <!-- 管辖部门 competent_authority -->
            <tr>
                <td class="text-center" style="width:200px"> 管辖部门 </td>
                <td class="text-center">{{ public_resource_chinese_universities_obj.competent_authority }}</td>
            </tr>
            <!-- 所在地 location -->
            <tr>
                <td class="text-center" style="width:200px"> 所在地 </td>
                <td class="text-center">{{ public_resource_chinese_universities_obj.location }}</td>
            </tr>
            <!-- 办学层次 level -->
            <tr>
                <td class="text-center" style="width:200px"> 办学层次 </td>
                {% if public_resource_chinese_universities_obj.level %}
                  <td class="text-center">本科</td>
                {% else %}
                  <td class="text-center">专科</td>
                {% endif %}
            </tr>
            <!-- 办学类型 style -->
            <tr>
                <td class="text-center" style="width:200px"> 办学类型 </td>
                <td class="text-center">{{ public_resource_chinese_universities_obj.style | display_chinese_university_style }}</td>
            </tr>
            <!-- 描述 description-->
            <tr>
                <td class="text-center" style="width:200px"> 描述 </td>
                <td class="text-center">{{ public_resource_chinese_universities_obj.description }}</td>
            </tr>
            <!-- 创建时间 create_time-->
            <tr>
                <td class="text-center" style="width:200px"> 创建时间 </td>
                <td class="text-center">{{ public_resource_chinese_universities_obj.create_time }}</td>
            </tr>
            <!-- 更新时间 update_time-->
            <tr>
                <td class="text-center" style="width:200px"> 更新时间 </td>
                <td class="text-center">{{ public_resource_chinese_universities_obj.update_time }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
