{% extends "base.html" %}
{% block content %}
<div class="box">
    <div class="box-header">
      <h1 class="box-title">{{ page_title }}</h1>
      <a href="#" data-url="{% url 'publicresourcedefault:public_resource_reginoanl_create' %}" class="btn btn-add bg-purple btn-sm pull-right">新增地区</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="well">
        <form class="form-inline">
          <div class="form-group">
            <input class="form-control" name="name" type="text" value="{{ request.GET.name }}" placeholder="请输入省市县相关字">
          </div>
          <button id="search_btn" type="submit" class="btn btn-default">查询</button>
        </form>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table id="" class="table table-bordered table-hover" role="grid">
            <thead>
              <tr role="row">
                <th class="text-center">省</th>
                <th class="text-center">市</th>
                <th class="text-center">县</th>
                <th class="text-center">人口</th>
                <th class="text-center">创建日期</th>
                <th class="text-center">更新时间</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              {% for public_resource_reginoanl_obj in public_resource_reginoanl_objs %}
              <tr role="row" class="odd">
                <td class="text-center">{{ public_resource_reginoanl_obj.province }}</td>
                <td class="text-center">{{ public_resource_reginoanl_obj.city }}</td>
                <td class="text-center">{{ public_resource_reginoanl_obj.county }}</td>
                <td class="text-center">{{ public_resource_reginoanl_obj.people }}</td>
                <td class="text-center">{{ public_resource_reginoanl_obj.create_time }}</td>
                <td class="text-center">{{ public_resource_reginoanl_obj.update_time }}</td>
                <td class="text-center">
                    <div class="btn-group">
                      <a href="#"><button type="button" data-url="{% url 'publicresourcedefault:public_resource_reginoanl_update' public_resource_reginoanl_obj.id %}"  class="btn btn-update btn-warning btn-xs">编辑</button></a>
                      <a href="#"><button type="button" data-url="{% url 'utilsdefault:common_views_delete' public_resource_reginoanl_obj.id %}" class="btn btn-delete btn-warning btn-xs">删除</button></a>
                      <a href="#"><button type="button" data-url="{% url 'publicresourcedefault:public_resource_reginoanl_detail' public_resource_reginoanl_obj.id %}"  class="btn btn-detail btn-info btn-xs">详情</button></a>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="row">
          {% include 'paginator.html' %}
      </div>
    </div>
    <!-- /.box-body -->
</div>
{% endblock %}

{% block footer_script %}
<script>
$(function(){
    $("#menu_public_resource_management").addClass('active menu-open');
    $("#menu_public_resource_management_reginoanl_list").addClass('active');
});
//组添加
$(".btn-add").on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('data-url');
      ui.box({
          title: '组添加',
          size: 'lg',
          footer: false,
          remote: url
      });
});

//组详情
$(".btn-detail").on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('data-url');
      ui.box({
          title: '组详情展示',
          size: 'lg',
          footer: false,
          remote: url
      });
});

//组更新
$(".btn-update").on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('data-url');
      ui.box({
          title: '组更新',
          size: 'lg',
          footer: false,
          remote: url
      });
});

//删除行政区划办理
$(".btn-delete").on('click', function(e) {
  e.preventDefault();
  var url = $(this).attr('data-url');
  var token = getCookie('csrftoken');
  var dat_obj = JSON.stringify({'tablename': 'reginoanlmanagment','types': 'delete_reginoanl',})
  ui.confirm('确定要进行该行政区划删除操作吗?', function() {
      Net.post({
          url: url,
          data: {'csrfmiddlewaretoken': token, 'dat': dat_obj,},
          reload: true,
      });
      location.reload();
  });
});
</script>
{% endblock %}
