<div class="">
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered table-hover" role="grid">
          <thead>
              <th class="text-center">项目</th>
              <th class="text-center">数据</th>
          </thead>
          <tbody>
            <!-- 公司名称 name -->
            <tr>
                <td class="text-center" style="width:200px"> 公司名称 </td>
                <td class="text-center">{{ huntjob_company_information_obj.name }}</td>
            </tr>
            <!-- 规模 scale -->
            <tr>
                <td class="text-center" style="width:200px"> 规模 </td>
                <td class="text-center">{{ huntjob_company_information_obj.scale }}</td>
            </tr>
            <!-- 行业 industry -->
            <tr>
                <td class="text-center" style="width:200px"> 行业 </td>
                <td class="text-center">{{ huntjob_company_information_obj.industry }}</td>
            </tr>
            <!-- 性质 style -->
            <tr>
                <td class="text-center" style="width:200px"> 性质 </td>
                <td class="text-center">{{ huntjob_company_information_obj.style }}</td>
            </tr>
            <!-- 公司地址 address -->
            <tr>
                <td class="text-center" style="width:200px"> 公司地址 </td>
                <td class="text-center">{{ huntjob_company_information_obj.address }}</td>
            </tr>
            <!-- 联系方式 contact -->
            <tr>
                <td class="text-center" style="width:200px"> 联系方式 </td>
                <td class="text-center">{{ huntjob_company_information_obj.contact }}</td>
            </tr>
            <!-- 公司简介 introduction -->
            <tr>
                <td class="text-center" style="width:200px"> 公司简介 </td>
                <td class="text-center">{{ huntjob_company_information_obj.introduction }}</td>
            </tr>
            <!-- 成立时间 established -->
            <tr>
                <td class="text-center" style="width:200px"> 成立时间 </td>
                <td class="text-center">{{ huntjob_company_information_obj.established }}</td>
            </tr>
            <!-- 描述 description-->
            <tr>
                <td class="text-center" style="width:200px"> 描述 </td>
                <td class="text-center">{{ huntjob_company_information_obj.description }}</td>
            </tr>
            <!-- 创建时间 create_time-->
            <tr>
                <td class="text-center" style="width:200px"> 创建时间 </td>
                <td class="text-center">{{ huntjob_company_information_obj.create_time }}</td>
            </tr>
            <!-- 更新时间 update_time-->
            <tr>
                <td class="text-center" style="width:200px"> 更新时间 </td>
                <td class="text-center">{{ huntjob_company_information_obj.update_time }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
