<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  {% include "header_css.html" %}
</head>
<body>
  <div class="easyui-panel" title="" style="width:100%;padding:30px 60px;">
    <form id="ff" action="{% url 'huntjob:huntjob_company_scale_create' %}" method="POST">{% csrf_token %}
      <!-- 公司规模名称 name -->
      <div style="margin-bottom:20px">
        <input class="easyui-textbox" name="name" style="width:100%" data-options="label:'规模名称:',required:true">
      </div>
      <!-- 最大人员数 value_max -->
      <div style="margin-bottom:20px">
        <input class="easyui-textbox" name="value_max" style="width:100%" data-options="label:'员工数:',required:true">
      </div>
      <!-- 描述 description -->
      <div style="margin-bottom:20px">
        <input class="easyui-textbox" name="description" style="width:100%;height:60px" data-options="label:'描述:',multiline:true">
      </div>
      <div style="text-align:center;padding:5px 0">
        <button class="easyui-linkbutton" type="submit" style="width:80px">Submit</button>
        <button class="easyui-linkbutton" type="reset" style="width:80px">Clear</button>
      </div>
    </form>
  </div>
</body>
 {% include "footer_js.html" %}
</html>
