<div class="">
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered table-hover" role="grid">
          <thead>
              <th class="text-center">项目</th>
              <th class="text-center">数据</th>
          </thead>
          <tbody>
            <!-- 性质名称 name -->
            <tr>
                <td class="text-center" style="width:200px"> 性质名称 </td>
                <td class="text-center">{{ huntjob_company_industry_obj.name }}</td>
            </tr>
            <!-- 父节点 parent_node -->
            <tr>
                <td class="text-center" style="width:200px"> 性质名称 </td>
                {% ifequal huntjob_company_industry_obj.parent_node 0 %}
                  <td class="text-center">顶级节点</td>
                {% else %}
                  <td class="text-center">{{ huntjob_company_industry_parent_obj.name }}</td>
                {% endifequal %}
            </tr>
            <!-- 描述 description-->
            <tr>
                <td class="text-center" style="width:200px"> 描述 </td>
                <td class="text-center">{{ huntjob_company_industry_obj.description }}</td>
            </tr>
            <!-- 创建时间 create_time-->
            <tr>
                <td class="text-center" style="width:200px"> 创建时间 </td>
                <td class="text-center">{{ huntjob_company_industry_obj.create_time }}</td>
            </tr>
            <!-- 更新时间 update_time-->
            <tr>
                <td class="text-center" style="width:200px"> 更新时间 </td>
                <td class="text-center">{{ huntjob_company_industry_obj.update_time }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
