<div class="">
  <!--div class="box-body"-->
  <!-- Horizontal Form -->
  <!-- 表单开始 -->
  <form class="form-horizontal" action="{% url 'huntjob:huntjob_job_type_update' pid %}" method="POST">{% csrf_token %}
    <div class="box-body">
      <!-- 工作类型名称 name -->
      <div class="form-group">
        <label for="working_years_name" class="col-sm-2 control-label">名称</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="working_years_name" name="name" value="{{  huntjob_job_type_obj.name }}" placeholder="请输入创建工作类型名称" required oninvalid="setCustomValidity('工作类型名称不可为空');" oninput="setCustomValidity('');">
        </div>
      </div>
      <!-- 最大数 value_max -->
      <div class="form-group">
        <label for="working_years_value_max" class="col-sm-2 control-label">最大数</label>

        <div class="col-sm-10">
          <input type="number" min="1" class="form-control" id="working_years_value_max" name="value_max" value="{{ huntjob_job_type_obj.value_max }}" placeholder="请输入创建工作类型最大数" required oninvalid="setCustomValidity('最大数工作类型不可为空');" oninput="setCustomValidity('');">
        </div>
      </div>
      <!-- 工作类型描述 description -->
      <div class="form-group">
        <label for="working_years_description" class="col-sm-2 control-label">描述</label>

        <div class="col-sm-10">
          <textarea rows="10" class="col-sm-12" id="working_years_description" name="description" placeholder="请输入工作类型描述">{{huntjob_job_type_obj.description }}</textarea>
        </div>
      </div>
    <!-- 提交按钮 -->
    <div class="col-md-offset-5">
      <button type="submit" class="btn btn-info">提交</button>
      <button type="reset" class="btn btn-default">重置</button>
    </div>
    <!-- 提交按钮结束  -->
  </form>
  <!-- 表单结束 -->
  <!-- /.box-body -->
</div>
