{% extends "base.html" %}
{% block content %}
<div class="box">
    <div class="box-header">
      <h1 class="box-title">{{ page_title }}</h1>
      <a href="#" data-url="{% url 'huntjob:huntjob_monthly_salary_range_create' %}" class="btn btn-add bg-purple btn-sm pull-right">月薪添加</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="well">
        <form class="form-inline">
          <div class="form-group">
            <input class="form-control" name="name" type="text" value="{{ request.GET.name }}" placeholder="请输入名称">
          </div>
          <button id="search_btn" type="submit" class="btn btn-default">查询</button>
        </form>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table id="" class="table table-bordered table-hover" role="grid">
            <thead>
              <tr role="row">
                <th class="text-center">名称</th>
                <th class="text-center">最大值</th>
                <th class="text-center">描述</th>
                <th class="text-center">创建日期</th>
                <th class="text-center">更新时间</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              {% for huntjob_monthly_salary_range_obj in huntjob_monthly_salary_range_objs %}
              <tr role="row" class="odd">
                <td class="text-center">{{ huntjob_monthly_salary_range_obj.name }}</td>
                <td class="text-center">{{ huntjob_monthly_salary_range_obj.value_max }}</td>
                <td class="text-center">{{ huntjob_monthly_salary_range_obj.description }}</td>
                <td class="text-center">{{ huntjob_monthly_salary_range_obj.create_time }}</td>
                <td class="text-center">{{ huntjob_monthly_salary_range_obj.update_time }}</td>
                <td class="text-center">
                    <div class="btn-group">
                      <a href="#"><button type="button" data-url="{% url 'huntjob:huntjob_monthly_salary_range_update' huntjob_monthly_salary_range_obj.id %}"  class="btn btn-update btn-warning btn-xs">编辑</button></a>
                      <a href="#"><button type="button" data-url="{% url 'utilsdefault:common_views_delete' huntjob_monthly_salary_range_obj.id %}" class="btn btn-delete btn-warning btn-xs">删除</button></a>
                      <a href="#"><button type="button" data-url="{% url 'huntjob:huntjob_monthly_salary_range_detail' huntjob_monthly_salary_range_obj.id %}"  class="btn btn-detail btn-info btn-xs">详情</button></a>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="row">
          {% include 'paginator.html' %}
      </div>
    </div>
    <!-- /.box-body -->
</div>
{% endblock %}

{% block footer_script %}
<script>
$(function(){
  $("#menu_huntjob_career_management").addClass('active menu-open');
  $("#menu_huntjob_job_management").addClass('active menu-open');
  $("#menu_huntjob_job_management_monthly_salary_range_list").addClass('active');
});
// 公司添加
$(".btn-add").on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('data-url');
      ui.box({
          title: '公司添加',
          size: 'lg',
          footer: false,
          remote: url
      });
});

// 公司信息详情
$(".btn-detail").on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('data-url');
      ui.box({
          title: '公司信息展示',
          size: 'lg',
          footer: false,
          remote: url
      });
});

// 发布日期更新
$(".btn-update").on('click', function(e) {
      e.preventDefault();
      var url = $(this).attr('data-url');
      ui.box({
          title: '发布日期更新',
          size: 'lg',
          footer: false,
          remote: url
      });
});

// 删除发布日期
$(".btn-delete").on('click', function(e) {
  e.preventDefault();
  var url = $(this).attr('data-url');
  var token = getCookie('csrftoken');
  var dat_obj = JSON.stringify({'tablename': 'monthly_salary_range','types': 'delete_monthly_salary_range',})
  ui.confirm('确定要进行该发布日期删除操作吗?', function() {
      Net.post({
          url: url,
          data: {'csrfmiddlewaretoken': token, 'dat': dat_obj,},
          reload: true,
      });
      location.reload();
  });
});
</script>
{% endblock %}
